* {
  font-family: 'Source Serif Pro', serif!important;
  font-size: 25px;
}

/* Removes padding to overwrite jumbotron defaults */
#paddingRemover {
  padding-left: 0;
  padding-right: 0;
}

/* Search button styling */
.btn {
  font-size: 18px;
}

.form-control {
  font-size: 18px;
}

