* {
  font-family: 'Source Serif Pro', serif!important;
  font-size: 25px;
  color: #363C3C;
}

/* Removes padding to overwrite jumbotron defaults */
#paddingRemover {
  padding-left: 0;
  padding-right: 0;
}


/* Search button styling */
.btn {
  font-size: 18px;
  margin: 5px;
}

.form-control {
  font-size: 18px;
}

/* Main section styling */
/* Adds margin to top and bottom of content */
.appContent {
  margin: 60px 0px 60px 0px;
}

/* Color buttons */
.colorButtons {
  margin-left: 300px;
}

/* Color results */
.colorResults {
  border: 1px solid #363C3C;
  border-radius: 1%;
  width: 600px;
  height: 500px;
  margin-right: 300px;
}

/* Moves clear button to bottom right of results */
.clearButton {
  float: right;
  margin-right: 300px;
}



